bf==1.11.0
bl==2.4.0
chardet==7.4.3
cssselect==1.4.0
cssutils==2.15.0
encutils==1.0.0
Faker==40.28.1
libsass==0.23.0
logger==1.4
more-itertools==11.1.0
numpy==2.2.6
pandas==2.3.3
psycopg2-binary==2.9.12
python-dateutil==2.9.0.post0
pytz==2026.2
six==1.17.0
tzdata==2026.3
Unum==4.2.1